.view {
    background: url(../../assets/img/header.jpg)no-repeat center center;
    background-size: cover;
    width: 100%vw;
    height: 100vh;
}
.view.hm-indigo-slight {
    position: absolute;
    top: 0;
    
}



h6 {
    line-height: 1.7;
}
.hm-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%); 
}


.md-form label.active {
    color: #757575;
}

.blue-text{
    color:blue;
}

.red-text{
    color:red;
}

.black-text{
    color:#111;
}

.logo-img{
    width:80px;
}

.rgba-blue-strong{
    position: relative;
    top:-50px;
    height:100%;
}

@media (max-width: 600px){
    .view h2{
        font-size:44px;
    }
}

