/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eeeeee;
}

.row{
    margin-bottom: 20px;
}

.butony{
    width:150px;
    height:40px;
    cursor: pointer;
}

.my-drop-zone { 
    border: dotted 3px lightgray; 
    padding: 15px 15px 15px 15px; 
    width: 100%;
    text-align: center;
}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }

.home{
    background-color: #ffffff;
}

.thead-inverseW{
   // background:  linear-gradient(#31404e, rgba(30, 39, 47, 0.98));
   background-color: #ffffff;
    color: #111111;
}

.cards2{
    padding: 0px 20px;
}

#klepsydra{
    background-color: #111111;
    position: absolute;
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
    padding-top: 30%;
    text-align: center;
    display: none;
    z-index: 10000;
}

.navbar {
    background-color:  transparent;
    z-index: 1;
}

    .top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar{
        background-color: #4285F4;
    }
    

}


mdb-select > div > div.single {
    border-width: 0px;
}

mdb-select {
    border: 1px solid #B8B8B8;
    border-radius: 5px;
    margin-top: 5px;
    height: 1.9rem;
    .active {
        padding-bottom: 4px !important;
    }
    font-size: 12px;
    font-family: 'Arial'  !important;
    transition: all 0.15s;   
    .single {
        font-size: 15px !important;
        padding: 0 !important;
        border-bottom-width: 0px;
        height: 1.9rem;
        .value {
            padding: 5px 8px !important;
            border: none !important;
            height: 1.9rem;
        }
        .placeholder {
            padding: 5px 8px !important;
            border: none !important;
            height: 1.9rem;
        }
        .toggle {
            z-index: 2 !important;
            transition: 0.5s;
        }
    }
    .dropdown-content {
        border-radius: 5px;
        z-index: 11 !important;
        .select-option {
            font-size: 12px;
            font-family: 'Arial';
            padding: 0;
        };
        li {
            height: 28px;
        }
    }
    .open-icon {
        transform: rotate(180deg) translateY(16px) !important;
        transition: 0.2s;
    }
    .closed-icon {
        transition: 0.2s;
    }
}
mdb-select > div > div.single > div.value,
mdb-select > div > div.single > div.placeholder {
    line-height: normal;
}
mdb-select-dropdown{ 
transition: 0s !important; 
}
